$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  min-height: 2000px;
  padding-top: 70px;
}
.widget {
  width: 40%; 
  float:left;
}
.widget-right {
  width: 60%; 
  float:right;
}
.widget__headerLeft {
  float: left;
}
.widget__headerRight {
  float: right;
}
